<!doctype html>
<html lang="en">
	<head>
		@input("template/head.content")
	</head>

	<body>
		<div align="center">
			@input("template/menu.content")

			<div id="content">
				@content

				@input("template/footer.content")
			</div>
		</div>

		<script defer type="text/javascript" src="@pathtofile(output/assets/js/menu.js)"></script>
	</body>
</html>