@font-face 
{
	font-family: "oxygen";
	src: url("../fonts/OxygenMono-Regular.otf") format("truetype");
	font-display: fallback;
}

@font-face 
{
	font-family: "CyberspaceRaceway";
	src: url("../fonts/CyberspaceRacewayFront-lWGD.ttf") format("truetype");
	font-display: fallback;
}

html, body, div, applet, object,
iframe, h1, h2, h3, h4, h5, h6, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
header, hgroup, output, ruby,
section, summary, time, mark, audio, video {
	margin:  0 0 0 0;
	line-height: 1.25em;
	box-sizing: border-box;
	max-width: 100%;
}

body
{
	background: #181a1b; /*#313438 1f2223*/
	color: #ffffff;
	font-family: "oxygen";
	max-width: 100%;
	min-height: 100%;
}

#footer, #footer p {
	line-height: 1.25em;
}

h1
{
	font-family: "CyberspaceRaceway";
	max-width: 95%;
	padding: 25px;
	font-size: 5vw;
	overflow-x: scroll;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	color: #ff1493;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
	}
}
@media screen and (min-width: 1000px) {
	h1 {
		font-size: 50px;
	}
}

h1, h2, h3, h4, h5
{
	text-align: center;
}

ul li {
  list-style: none;
  list-style-position: inside !important;
}

#content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #cf7327; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 12pt;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.75em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}

a
{
	text-decoration: none;
	color: #5fb267;
}

a:hover
{
	color: #14bdff;
}

#content
{
	overflow-y: auto;
	max-width: 90%;
	width: 850px;
	text-align: left;
}

img
{
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.noselect, br
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

hr
{
	max-width: 100%;
}

a.fa
{
	text-decoration:none;

	outline: 0;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}


mono
{
	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 85%;
	color: #c922c9; 
}

/* width */
::-webkit-scrollbar 
{
	width: 10px;
	height: 0px;
}

/* Track */
::-webkit-scrollbar-track 
{
 	background: #181a1b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
 	background: #5fb267;
	/*border-radius: 10px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
 	background: #14bdff; 
}