contentDir 'content/'
contentExt '.content'
outputDir 'site/'
outputExt '.html'
scriptExt '.py'
defaultTemplate 'template/page.template'

backupScripts 1

lolcat 1
lolcatCmd "lolcat-cc -f"

buildThreads -1

paginateThreads -1

incrementalMode -2022

terminal ''

unixTextEditor 'subl -n'
winTextEditor 'notepad'

rootBranch 'stage'
outputBranch 'master'
