<!doctype html>
<html lang="en">
	<head>
		@input("templates/head.template")
	</head>

	<body>
		<div align="center"  id="body">
			@input("templates/menu.template")

			<div id="content">
				@content

				@input("templates/footer.template")
			</div>
		</div>

		<script type="text/javascript" src="@pathtofile(output/assets/js/bundle.js)"></script>
	</body>
</html>