<div class="noselect">
	<a href="https://github.com/n-ham" title="GitHub"><i class="fa fa-github-png fa-rnbw"></i></a> 
	<a href="mailto:contact@n-ham.com" title="Email"><i class="fa fa-envelope-png fa-rnbw"></i></a> 
	<a href="https://orcid.org/0000-0002-4984-1711" title="ORCID"><i class="fa fa-orcid-png fa-rnbw"></i></a>
	<a href="https://scholar.google.com/citations?user=vV-pxo4AAAAJ&hl=en" title="Google Scholar"><i class="fa fa-google-png fa-rnbw"></i></a>
	<a href="https://arxiv.org/a/ham_n_2.html" title="arXiv"><i class="fa fa-box-archive-png fa-rnbw"></i></a>
</div>